@charset "UTF-8";

html {
  font-size: 100%;
}

.header {
  width: 100%;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

/* .wrapper {
  width: 970px;
  margin: 30px auto 40px;

} */

.main {
  display: block;
  background-color: #106ecc2d;
  margin-top: 30px;
}

.footer {
  width: 100%;
}

/* main */
.container {
  justify-content: center;
}

h2 {
  line-height: 80px;
  text-align: center;
  font-size: 20px;
}

.title {
  width: 100%;
  margin: 30px 30px 0 0;
  background-color: #106ecc2d;
}

/* .diet_form {
    padding: 10px 30px;
    margin: 0 auto;
} */

.diet_form {
  background: #eaf4ff;
  padding: 20px 30px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

form dl dt {
  width: 200px;
  height: 40px;
  padding: 10px 0;
  line-height: 40px;
  float: left;
  font-size: 15px;
  padding-left: 200px;
}
form dl dd {
  padding: 10px 0;
  margin-right: 300px;

}
.box {
  box-sizing: border-box;
  width: 150px !important;
  height: 40px !important;
  margin: 0 !important;
  padding: 0 10px !important;
}


.btn {
  margin: 40px 40px;
}
.calc-btn {
  width: 100px;
  height: 50px;
  border: 1px solid #333;
  margin-top: 20px;
  margin-bottom: 20px;
}
.calc-btn:hover {
  cursor: pointer;
}



/* footer */
h3 {
  text-align: center;
  font-size: 15px;
  margin: 20px auto;
}
